[Unit]
Description=APIServer skeleton.
Documentation=https://github.com/changaolee/skeleton/blob/master/init/README.md

[Service]
ExecStart=/opt/skeleton/bin/skeleton --config=/etc/skeleton/skeleton.yaml
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target