[Unit]
Description=SKT AuthzServer
Documentation=https://github.com/changaolee/skeleton/blob/main/init/README.md

[Service]
WorkingDirectory=${SKT_DATA_DIR}/skt-authz-server
ExecStartPre=/usr/bin/mkdir -p ${SKT_DATA_DIR}/skt-authz-server
ExecStartPre=/usr/bin/mkdir -p ${SKT_LOG_DIR}
ExecStart=${SKT_INSTALL_DIR}/bin/skt-authz-server --config=${SKT_CONFIG_DIR}/skt-authz-server.yaml
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
